.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("./image/hutan.jpg");
}
.rain{
  height: 100%;
  background-image: url("./image/rain.png");
  animation: rain 0.3s linear infinite;
}
@keyframes rain{
  0%{
      background-position: 0% 0%;
  }
  100%{
      background-position: 20% 100%;
  }
}